## .NET + Visual Studio + VSCode clean .gitignore

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
artifacts/
# Other ignore rules...

appsettings.json.dev
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# VS Code
.vscode/
.history/
*.code-workspace

# Rider
.idea/

# Publish output
publish/
wwwroot/lib/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
*.snupkg

# Others
project.lock.json
project.fragment.lock.json
TestResult.xml
[Tt]est[Rr]esult*/
*.binlog
*.VisualState.xml
nunit-*.xml
~$*
*~
CodeCoverage/

# Logs
*.log

# OS junk
Thumbs.db
.DS_Store
